<!-- user_profile.html -->

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Профиль пользователя</title>
    <link rel="stylesheet" href="../static/css/test.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="#">Главная</a></li>
                <li><a href="#">Мои заказы</a></li>
                <li><a href="#">Выйти</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="profile">
            <h1>Профиль пользователя</h1>
            <img src="avatar.jpg" alt="Аватар пользователя">
            <ul>
                <li><strong>Имя:</strong> {{ username }}</li>
                <li><strong>Электронная почта:</strong> {{ email }}</li>
                <li><strong>Дата рождения:</strong> {{ birthdate }}</li>
            </ul>
            <button class="edit-btn">Редактировать профиль</button>
        </section>
    </main>
    <footer>
        <p>&copy; 2023 Мой сайт</p>
    </footer>
    <script src="script.js"></script>
</body>
</html>