<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../static/img/ico-ndb.png">
    <link rel="stylesheet" href="../static/css/index_styles.css">
    <link rel="stylesheet" href="../static/css/user_styel.css">
    <script src="../static/js/header_js.js"></script>
    <script src="../static/js/user_page/toggle_list.js"></script>
    <!-- <script src="../static/js/user_page/passwordChangeWindow.js"></script> -->
    <link rel="stylesheet" href="node_modules/sweetalert2/dist/sweetalert2.css">
    <script type="module" src="node_modules/sweetalert2/dist/sweetalert2.js"></script>
    <title>Карточка пользователя</title>
</head>
<body>
    <header id="header"></header>
    <div class="user-data" id="user_data">
        <!-- <h2>Гостев Максим Владимирович</h2> -->
    </div>
    <div class="common-space" id="common-space">
        <div class="function-menu" id="function-menu">
            <ul>
                <!--<li class="dropdown">
                    <div class="list-item">
                        <button class="primary-list" onclick="toggleList(this)">role 1</button>
                        <ul class="collapsible-content">
                            <li><button class="secondary-list">functionality 1</button></li>
                            <li><button class="secondary-list">functionality 2</button></li>
                            <li><button class="secondary-list">functionality 3</button></li>
                        </ul>
                    </div>
                    
                </li>
                <li class="dropdown">
                    <div class="list-item">
                        <button class="primary-list" onclick="toggleList(this)">role 2</button>
                    <ul class="collapsible-content">
                        <li><button class="secondary-list">functionality 1</button></li>
                            <li><button class="secondary-list">functionality 2</button></li>
                            <li><button class="secondary-list">functionality 3</button></li>
                      </ul>
                    </div>
                </li>-->
            </ul>
        </div>
        <div class="workspace" id="workspace">
            <!--<div>
                <form id="newPasswordForm" method="post">
                    <label for="old_password">Старый пароль</label><br>
                    <input type="text" id="old_password" name="old_password" placeholder="Старый пароль" autofocus autocomplete="on"><br>
                    <label for="new_password">Новый пароль</label><br>
                    <input type="password" id="new_password" name="new_password" placeholder="Новый пароль" required><br>
                    <label for="new_password2">Повторите пароль</label><br>
                    <input type="password" id="new_password2" name="new_password2" placeholder="Повторите пароль" required><br>
                    <p id="Forbiden"></p>
                    <button type="submit">Ввод</button><br>
                </form>
            </div>-->
        </div>
    </div>



    <script> headertHTML("header", "../static/img/logo-ndb.png")</script>
    <script type="module">
        import { pageProcessing } from '../static/js/user_page/page_processing.js';
        pageProcessing();
      </script>
    <script type="module">
        import {updatePassword} from '../static/js/user_page/newPassword.js';
        updatePassword("newPasswordForm");
    </script>
</body>
</html>